<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PointGaming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PointGaming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PointGaming.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://dev.pointgaming.com/api/v1/</value>
      </setting>
      <setting name="FriendRequests" serializeAs="String">
        <value>https://dev.pointgaming.com/api/v1/friend_requests/</value>
      </setting>
      <setting name="Friends" serializeAs="String">
        <value>https://dev.pointgaming.com/api/v1/friends/</value>
      </setting>
      <setting name="SocketIoUrl" serializeAs="String">
        <value>https://socket.pointgaming.com/</value>
      </setting>
      <setting name="LogInTimeout" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="Games" serializeAs="String">
        <value>https://dev.pointgaming.com/api/v1/games/</value>
      </setting>
      <setting name="UpdateAutomatic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Matches" serializeAs="String">
        <value>https://dev.pointgaming.com/matches/</value>
      </setting>
      <setting name="BetOperandQuery" serializeAs="String">
        <value>https://dev.pointgaming.com/search/playable.json?query=</value>
      </setting>
      <setting name="GameRooms" serializeAs="String">
        <value>http://dev.pointgaming.com/game_rooms/</value>
      </setting>
      <setting name="StratumIp" serializeAs="String">
        <value>50.116.28.30</value>
      </setting>
      <setting name="StratumPort" serializeAs="String">
        <value>3334</value>
      </setting>
      <setting name="UserProfile" serializeAs="String">
        <value>http://dev.pointgaming.com/u/%{username}/profile</value>
      </setting>
      <setting name="BetHistory" serializeAs="String">
        <value>https://dev.pointgaming.com/api/v1/bet_history/</value>
      </setting>
    </PointGaming.Properties.Settings>
  </applicationSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <userSettings>
    <PointGaming.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="ShouldFlashChatWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatFontFamily" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="ChatFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="HomeWindowBoundsWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HomeWindowBoundsHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HomeWindowBoundsLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HomeWindowBoundsTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HomeWindowBoundsDesktopInfo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChatWindowBoundsWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChatWindowBoundsHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChatWindowBoundsLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChatWindowBoundsTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChatWindowBoundsDesktopInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="BitcoinMinerUserIdleMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BitcoinMinerOnlyWheUserIdle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BitcoinMinerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </PointGaming.Properties.Settings>
  </userSettings>
</configuration>
