<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PointGaming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PointGaming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PointGaming.Properties.Settings>
      <setting name="SocketIoUrl" serializeAs="String">
        <value>https://socket.pointgaming.com/</value>
      </setting>
      <setting name="LogInTimeout" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="UpdateAutomatic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StratumIp" serializeAs="String">
        <value>50.116.28.30</value>
      </setting>
      <setting name="StratumPort" serializeAs="String">
        <value>3334</value>
      </setting>
      <setting name="WebServerUrl" serializeAs="String">
        <value>https://dev.pointgaming.com</value>
      </setting>
      <setting name="AudioChatIp" serializeAs="String">
        <value>192.168.1.71</value>
      </setting>
    </PointGaming.Properties.Settings>
  </applicationSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <userSettings>
    <PointGaming.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="ShouldFlashChatWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatFontFamily" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="ChatFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="UserIdleMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BitcoinMinerOnlyWheUserIdle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BitcoinMinerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowBounds" serializeAs="String">
        <value />
      </setting>
      <setting name="MicTriggerKey" serializeAs="String">
        <value>162</value>
      </setting>
      <setting name="AudioInputDeviceIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </PointGaming.Properties.Settings>
  </userSettings>
</configuration>
