<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PointGaming.ClientWebService.WcfServerSide">
        <endpoint address="net.tcp://localhost:8085/PointGamingEndPoint"
          binding="netTcpBinding" contract="PointGaming.ClientWebService.IWcfServerSide" />
      </service>
    </services>
    <client>
      <endpoint name="PointGamingEndPoint" address="net.tcp://localhost:8085/PointGamingEndPoint" binding="netTcpBinding" contract="PointGaming.ClientWebService.IWcfServerSide"/>
    </client>
  </system.serviceModel>
</configuration>
