<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="AddCoins" value="http://dev.pointgaming.net:3000/api/v1/coins?auth_token=" />
  <add key="ListCoins" value="http://dev.pointgaming.net:3000/api/v1/coins?auth_token=" />
  <add key="ShowCoin" value="http://dev.pointgaming.net:3000/api/v1/coins/" />
  
</configuration>