<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PointGaming.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PointGaming.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PointGaming.Desktop.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://dev.pointgaming.com/api/v1/</value>
      </setting>
      <setting name="FriendRequests" serializeAs="String">
        <value>https://dev.pointgaming.com/api/v1/friend_requests/</value>
      </setting>
      <setting name="Friends" serializeAs="String">
        <value>https://dev.pointgaming.com/api/v1/friends/</value>
      </setting>
      <setting name="SocketIoUrl" serializeAs="String">
        <value>https://socket.pointgaming.com/</value>
      </setting>
      <setting name="LogInTimeout" serializeAs="String">
        <value>00:00:05</value>
      </setting>
    </PointGaming.Desktop.Properties.Settings>
  </applicationSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <userSettings>
    <PointGaming.Desktop.Properties.Settings>
      <setting name="UserFolder" serializeAs="String">
        <value>PointGaming.Desktop</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="ShouldFlashChatWindow" serializeAs="String">
        <value>True</value>
      </setting>
    </PointGaming.Desktop.Properties.Settings>
  </userSettings>
</configuration>