<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="E2604983-14AB-4ef4-BA5E-300D4A0B0ACB" Name="Point Gaming" Language="1033"
           Version="1.0.2" Manufacturer="Point Gaming, LLC" UpgradeCode="08965D1B-AF38-B24C-512B-98E94828C4F0">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Resources\License.rtf"/>
    <!--493 by 58 pixels, this bitmap will appear at the top of all but the first page of the installer.-->
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Resources\banner.bmp" />
    <!--493 by 312 pixels, this bitmap will appear on the first page of the installer.-->
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Resources\dialog.bmp" />
    <!--32 by 32 pixels, exclamation mark icon.-->
    <!--<WixVariable Id="WixUIExclamationIco" Value="path\exclamation.ico" />-->
    <!--32 by 32 pixels, information sign icon.-->
    <!--<WixVariable Id="WixUIInfoIco" Value="path\information.ico" />-->
    <!--16 by 16 pixels, new folder icon.-->
    <!--<WixVariable Id="WixUINewIco" Value="path\new.ico" />-->
    <!--16 by 16 pixels, parent folder icon.-->
    <!--<WixVariable Id="WixUIUpIco" Value="path\up.ico" />-->

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="Point Gaming" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentRef Id="TaskbarComponent" />
      <ComponentRef Id="MicrosoftComponent" />
      <ComponentRef Id="AudioComponent" />
      <ComponentRef Id="NewtonsoftJsonComponent" />
      <ComponentRef Id="RestSharpComponent" />
      <ComponentRef Id="SocketIOComponent" />
      <ComponentRef Id="OpenCLComponent" />
    </Feature>

    <MajorUpgrade DowngradeErrorMessage="A newer version of Point Gaming is already installed." />
    <Upgrade Id="880F06FC-F266-A22B-847A-F02327FA9A17">
      <UpgradeVersion OnlyDetect='yes'  Property='SELFFOUND' Minimum='1.0.2' IncludeMinimum='yes' Maximum='1.0.2' IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND' Minimum='1.0.2' IncludeMinimum='no' />
    </Upgrade>
    <CustomAction Id='AlreadyUpdated' Error='Point Gaming has already been updated to 1.0.2 or newer.' />
    <CustomAction Id='NoDowngrade' Error='A later version of Point Gaming is already installed.' />
    <InstallExecuteSequence>
      <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
      <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
    </InstallExecuteSequence>
    
    
    <Icon Id="Icon.exe" SourceFile="$(var.PointGaming.TargetPath)" />
    <Property Id="ARPPRODUCTICON" Value="Icon.exe" />

    
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This application requires Microsoft .NET Framework 4.0 Runtime in order to run. Please install the .NET Framework and then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>



    <Property Id="ApplicationFolderName" Value="Point Gaming" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <Property Id="WixShellExecTarget" Value="[#TargetApplicationFile]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Point Gaming"  />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
    
    <UI>
      <!--<UIRef Id="WixUI_Minimal" />-->
      <UIRef Id="WixUI_Advanced" />
      
      <!--<UIRef Id="WixUI_ErrorProgressText" />-->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="Point Gaming" FileSource="$(var.PointGaming.TargetDir)\">
          <Component Id="ProductComponent" Guid="6A016E3D-A637-4379-9532-0D8BECDB975C" >
            <File Id="TargetApplicationFile" Name="$(var.PointGaming.TargetFileName)" KeyPath="yes">
              <Shortcut Id="startmenuFoobar10" Directory="ProgramMenuFolder" Name="Point Gaming" Icon="Icon.exe" IconIndex="0" Advertise="yes" />
              <Shortcut Id="desktopFoobar10" Directory="DesktopFolder" Name="Point Gaming" Icon="Icon.exe" IconIndex="0" Advertise="yes" />
            </File>
            <File Name="$(var.PointGaming.TargetFileName).config"/>
            <File Name="$(var.PointGaming.Update.TargetFileName)" />
            <File Name="$(var.PointGaming.ClientWebService.TargetFileName)" />
            <File Name="$(var.PointGaming.ClientWebService.TargetFileName).config" />
          </Component>

          <Component Id="TaskbarComponent" Guid="8D877046-3C88-4788-8C30-07DFB12499AD" >
            <File Name="Hardcodet.Wpf.TaskbarNotification.dll"/>
          </Component>

          <Component Id="MicrosoftComponent" Guid="742563BD-9DEA-5554-F50A-A21EF568399B" >
            <File Name="Microsoft.Expression.Interactions.dll"/>
            <File Name="System.Windows.Interactivity.dll"/>
          </Component>

          <Component Id="AudioComponent" Guid="9A31EB44-A8EF-226B-6B28-8DAC2DE420E9" >
            <File Name="NAudio.dll"/>
            <File Name="NSpeex.dll"/>
            <File Name="opus.dll"/>
          </Component>
          
          <Component Id="NewtonsoftJsonComponent" Guid="BD03BAF7-7C88-4c29-B2EA-63906FA08FB4" >
            <File Name="Newtonsoft.Json.dll"/>
          </Component>
          
          <Component Id="RestSharpComponent" Guid="309CAFF5-2816-49e0-B051-7DE7A1D68D57" >
            <File Name="RestSharp.dll"/>
          </Component>
          
          <Component Id="SocketIOComponent" Guid="204A3BBB-8A34-4dce-8E33-4BCAFB3DDCA8" >
            <File Name="SocketIOClient.dll"/>
            <File Name="WebSocket4Net.dll"/>
          </Component>

          <Component Id="OpenCLComponent" Guid="6AEF460F-07C5-8749-1096-0C4F5A8BB472" >
            <File Name="OpenCLNet.dll"/>
          </Component>

        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Component Id="ProgramMenuDir" Guid="8DC38770-7433-40b9-B2D3-580C8FE6D323">
          <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        </Component>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>
</Wix>
